<app-header></app-header>
<div class="h-[2rem]"></div>
<!-- PREGUNTAS FRECUENTES CON ACORDEÓN RESPONSIVE -->
<section id="preguntas-frecuentes" class="bg-white py-8 md:py-16 px-4">
    <div class="max-w-6xl mx-auto">
        <h2 style="color: #2240b1;font: bold;font-weight: 800;" class="text-3xl md:text-4xl font-extrabold text-[#2240b1] uppercase text-center mb-6 md:mb-8">❓ Preguntas Frecuentes
        </h2>
        <div class="card flex justify-center">
            <p-accordion value="0">
                <p-accordion-panel value="0">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color: #2240b1;font: bold;font-weight: 800;">¿Cómo opera los avances en SISTECREDITO?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p>
                                Debes tener un cupo aprobado por SISTECREDITO. Te cambiamos tu cupo disponible por efectivo a una tasa del % en forma presencial o virtual, a una cuenta Nequi/Bancolombia o Daviplata/Davivienda a tu nombre.
                                <span class="text-red-600 seguro">100%</span> seguro. Cupo minimo $300.000 cupo maximo $3.000.0000
                            </p>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="1">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color: #2240b1;font: bold;font-weight: 800;">¿Cómo opera los avances con ADDI?</p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p>Debes tener un cupo aprobado por ADDI. Te cambiamos tu cupo disponible o preaprobado por efectivo a una tasa del % en forma presencial o virtual, y se transfiere a una cuenta Nequi/Bancolombia, Daviplata/Davivienda a tu nombre.
                                <span class="text-red-600">100%</span> seguro. Cupo minimo $300.000 Cupo maximo $3.000.000
                            </p>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="2">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color: #2240b1;font: bold;font-weight: 800;">¿Cómo operan las consultas a DATACREDITO y CIFIN?</p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p>Las consultas a DATACREDITO y CIFIN se realizan de forma virtual. Los precios son:
                                <br> síntesis $22.000
                                <br> Linea economica $16.000.
                                <br> historial crediticio $27.000.
                                <br> historial crediticio + reconocer $40.000.
                                <br> persona jurídica $60.000.
                                <br> Todos los informes se entregan en PDF. <span class="text-red-600">100%</span>seguro.
                            </p>
                            <p class="mt-3 md:mt-4 text-gray-600 text-sm md:text-base"><strong>Contactenos:</strong> abogados, inmobiliarias, financieros, analistas, prestamistas.
                            </p>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="3">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color: #2240b1;font: bold;font-weight: 800;">¿Quieres ser nuestro aliado comercial?</p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p>Si tienes un comercio, como venta de celulares, tecnología, muebles, radios, parlantes o electrodomésticos, nosotros te pagamos de contado todas tus ventas a través de nuestras pasarelas de pago SISTECREDITO y ADDI. <span style="color: red;"
                                    class="text-red-600">100%</span> seguro</p>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="4">
                    <p-accordion-header>
                        <p style="color: #2240b1;font: bold;font-weight: 800;">¿Cuánto cobra INVERTECCUPOS?</p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="mb-3 md:mb-4">En <strong>INVERTECCUPOS</strong>, ofrecemos un servicio transparente y seguro de avances sobre tarjetas de crédito y consultas financieras. Nuestro objetivo es brindarte una solución rápida, sin trámites complicados.
                            </p>

                            <ul class="list-disc list-inside space-y-2 md:space-y-3 text-gray-700 text-xs md:text-sm bg-gray-100 rounded-lg md:rounded-xl p-4 md:p-6 shadow-inner">
                                <li>
                                    <strong>Consultas a DataCrédito o CIFIN:</strong> tienen un valor fijo desde <span class="font-semibold">$16.000</span>.
                                </li>
                                <li>
                                    <strong>Avances de Sistecrédito y addi</strong> manejan tarifas personalizadas..
                                </li>
                                <li>
                                    <strong>Avances de tarjeta de credito:</strong> manejan tarifas personalizadas.
                                </li>
                                <li>
                                    <strong>Nosotros manejamos el mejor % del mercado:</strong>
                                </li>
                            </ul>

                            <p class="mt-4 md:mt-6 text-xs md:text-sm text-center text-gray-600">
                                Si tienes dudas o deseas cotizar tu avance sin compromiso, escríbenos a nuestro WhatsApp
                                <a href="https://wa.me/573103248752?text=Hola%2C%20quiero%20más%20información%20sobre%20el%20avance%20de%20cupo." class="inline-flex items-center text-green-600 font-bold hover:underline mx-1" target="_blank" rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 32 32" fill="currentColor">
                    <path
                      d="M16 0C7.2 0 .1 7.1.1 15.9c0 2.8.7 5.4 2 7.7L0 32l8.6-2.2c2.3 1.3 5 .2 5-.2 2.2 1.2 4.6 1.8 7.3 1.8 8.8 0 15.9-7.1 15.9-15.9S24.8 0 16 0zM16 29.3c-2.4 0-4.7-.6-6.7-1.7l-.5-.3-5.1 1.3 1.4-5-.3-.5c-1.2-2-1.9-4.4-1.9-6.8C3.9 8.3 9.8 2.4 16 2.4c6.2 0 12.1 5.9 12.1 12.1S22.2 29.3 16 29.3z" />
                    <path
                      d="M23.5 18.9c-.4-.2-2.4-1.2-2.8-1.3-.4-.1-.7-.2-1 .2-.3.4-1.1 1.3-1.3 1.5-.2.2-.5.3-.9.1-2.3-1.1-3.8-3.1-4.1-3.6-.2-.4 0-.6.1-.8.2-.2.4-.5.6-.7.2-.2.3-.4.5-.6.2-.2.1-.4 0-.6-.1-.2-1-2.3-1.4-3.1-.3-.7-.7-.6-1-.6-.2 0-.4 0-.6 0-.2 0-.6.1-.9.4-.3.3-1.2 1.2-1.2 2.8s1.2 3.3 1.3 3.5c.2.2 2.3 3.6 5.6 5 .8.3 1.4.5 1.8.6.8.3 1.6.3 2.2.2.7-.1 2.4-1 2.8-2 .3-1 .3-1.9.2-2-.1-.2-.3-.3-.7-.4z" />
                  </svg> 310 324 8752
                                </a>
                                o
                                <a href="https://wa.me/573143020480?text=Hola%2C%20quiero%20cotizar%20mi%20avance%20por%20favor." class="inline-flex items-center text-green-600 font-bold hover:underline mx-1" target="_blank" rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 32 32" fill="currentColor">
                    <path
                      d="M16 0C7.2 0 .1 7.1.1 15.9c0 2.8.7 5.4 2 7.7L0 32l8.6-2.2c2.3 1.3 5 .2 5-.2 2.2 1.2 4.6 1.8 7.3 1.8 8.8 0 15.9-7.1 15.9-15.9S24.8 0 16 0zM16 29.3c-2.4 0-4.7-.6-6.7-1.7l-.5-.3-5.1 1.3 1.4-5-.3-.5c-1.2-2-1.9-4.4-1.9-6.8C3.9 8.3 9.8 2.4 16 2.4c6.2 0 12.1 5.9 12.1 12.1S22.2 29.3 16 29.3z" />
                    <path
                      d="M23.5 18.9c-.4-.2-2.4-1.2-2.8-1.3-.4-.1-.7-.2-1 .2-.3.4-1.1 1.3-1.3 1.5-.2.2-.5.3-.9.1-2.3-1.1-3.8-3.1-4.1-3.6-.2-.4 0-.6.1-.8.2-.2.4-.5.6-.7.2-.2.3-.4.5-.6.2-.2.1-.4 0-.6-.1-.2-1-2.3-1.4-3.1-.3-.7-.7-.6-1-.6-.2 0-.4 0-.6 0-.2 0-.6.1-.9.4-.3.3-1.2 1.2-1.2 2.8s1.2 3.3 1.3 3.5c.2.2 2.3 3.6 5.6 5 .8.3 1.4.5 1.8.6.8.3 1.6.3 2.2.2.7-.1 2.4-1 2.8-2 .3-1 .3-1.9.2-2-.1-.2-.3-.3-.7-.4z" />
                  </svg> 314 302 0480
                                </a>.
                            </p>


                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="5">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color: #2240b1;font: bold;font-weight: 800;">¿Quiero renovar cupo, lo puedo hacer con INVERTECCUPOS?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="mb-3 md:mb-4">¡Claro que sí! En <strong>INVERTECCUPOS</strong> te ayudamos a gestionar la <span class="font-semibold text-purple-600">renovación y aumento de cupo</span> en
                                <strong>Sistecrédito y addi</strong>.
                            </p>

                            <div class="bg-gray-100 rounded-lg md:rounded-xl p-4 md:p-6 shadow-inner text-xs md:text-sm text-gray-700 space-y-3 md:space-y-4">
                                <p>
                                    Si ya tienes un cupo aprobado con <strong>Sistecrédito o addi</strong>, podemos ayudarte a renovarlo o incluso aumentarlo según tu comportamiento de pago.
                                </p>

                                <p>
                                    Nuestro equipo verifica tu historial y te asesora para que puedas acceder nuevamente a tus beneficios.
                                </p>

                                <p>
                                    Solo necesitas comunicarte con nosotros por WhatsApp y tener tu cédula a la mano para iniciar el proceso. ¡Es rápido y <span class="text-red-600">100%</span> seguro!
                                </p>
                            </div>

                            <p class="mt-4 md:mt-6 text-xs md:text-sm text-center text-gray-600">
                                Escríbenos ahora al whatsapp
                                <a href="https://wa.me/573103248752?text=Hola%2C%20quiero%20más%20información%20sobre%20el%20avance%20de%20cupo." class="inline-flex items-center text-green-600 font-bold hover:underline mx-1" target="_blank" rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 32 32" fill="currentColor">
                    <path
                      d="M16 0C7.2 0 .1 7.1.1 15.9c0 2.8.7 5.4 2 7.7L0 32l8.6-2.2c2.3 1.3 5 .2 5-.2 2.2 1.2 4.6 1.8 7.3 1.8 8.8 0 15.9-7.1 15.9-15.9S24.8 0 16 0zM16 29.3c-2.4 0-4.7-.6-6.7-1.7l-.5-.3-5.1 1.3 1.4-5-.3-.5c-1.2-2-1.9-4.4-1.9-6.8C3.9 8.3 9.8 2.4 16 2.4c6.2 0 12.1 5.9 12.1 12.1S22.2 29.3 16 29.3z" />
                    <path
                      d="M23.5 18.9c-.4-.2-2.4-1.2-2.8-1.3-.4-.1-.7-.2-1 .2-.3.4-1.1 1.3-1.3 1.5-.2.2-.5.3-.9.1-2.3-1.1-3.8-3.1-4.1-3.6-.2-.4 0-.6.1-.8.2-.2.4-.5.6-.7.2-.2.3-.4.5-.6.2-.2.1-.4 0-.6-.1-.2-1-2.3-1.4-3.1-.3-.7-.7-.6-1-.6-.2 0-.4 0-.6 0-.2 0-.6.1-.9.4-.3.3-1.2 1.2-1.2 2.8s1.2 3.3 1.3 3.5c.2.2 2.3 3.6 5.6 5 .8.3 1.4.5 1.8.6.8.3 1.6.3 2.2.2.7-.1 2.4-1 2.8-2 .3-1 .3-1.9.2-2-.1-.2-.3-.3-.7-.4z" />
                  </svg> 310 324 8752
                                </a>
                                o
                                <a href="https://wa.me/573143020480?text=Hola%2C%20quiero%20cotizar%20mi%20avance%20por%20favor." class="inline-flex items-center text-green-600 font-bold hover:underline mx-1" target="_blank" rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 32 32" fill="currentColor">
                    <path
                      d="M16 0C7.2 0 .1 7.1.1 15.9c0 2.8.7 5.4 2 7.7L0 32l8.6-2.2c2.3 1.3 5 .2 5-.2 2.2 1.2 4.6 1.8 7.3 1.8 8.8 0 15.9-7.1 15.9-15.9S24.8 0 16 0zM16 29.3c-2.4 0-4.7-.6-6.7-1.7l-.5-.3-5.1 1.3 1.4-5-.3-.5c-1.2-2-1.9-4.4-1.9-6.8C3.9 8.3 9.8 2.4 16 2.4c6.2 0 12.1 5.9 12.1 12.1S22.2 29.3 16 29.3z" />
                    <path
                      d="M23.5 18.9c-.4-.2-2.4-1.2-2.8-1.3-.4-.1-.7-.2-1 .2-.3.4-1.1 1.3-1.3 1.5-.2.2-.5.3-.9.1-2.3-1.1-3.8-3.1-4.1-3.6-.2-.4 0-.6.1-.8.2-.2.4-.5.6-.7.2-.2.3-.4.5-.6.2-.2.1-.4 0-.6-.1-.2-1-2.3-1.4-3.1-.3-.7-.7-.6-1-.6-.2 0-.4 0-.6 0-.2 0-.6.1-.9.4-.3.3-1.2 1.2-1.2 2.8s1.2 3.3 1.3 3.5c.2.2 2.3 3.6 5.6 5 .8.3 1.4.5 1.8.6.8.3 1.6.3 2.2.2.7-.1 2.4-1 2.8-2 .3-1 .3-1.9.2-2-.1-.2-.3-.3-.7-.4z" />
                  </svg> 314 302 0480
                                </a>. para renovar tu cupo con
                                <strong>Sistecrédito o addi</strong>.
                            </p>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="6">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color:#2240b1;font: bold;font-weight: 800;">¿COMO SOLICITAR UN CUPO DE CRÉDITO?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p>tenemos dos plataformas financieras. te piden una información confidencial y te asignan un cupo disponible si no estás reportado en centrales de riesgos y nosotros te ayudamos a convertirlos en efectivo o para la compra de
                                productos de tecnología. celulares. tvs. <span class="text-red-600">100%</span> seguro.
                            </p>
                            <p class="text-sm text-gray-600">
                                Ofrecemos:
                            </p>
                            <ul class="list-disc list-inside text-sm text-gray-600">
                                <li>ADDI...</li>
                                <li>SISTECREDITO...</li>
                                <li>CREDITO CLIENTE FIEL.</li>
                            </ul>

                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="7">
                    <p-accordion-header>
                        <p style="text-transform: uppercase ;color:#2240b1;font: bold;font-weight: 800;">¿Cuales son los horarios de atención?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="text-sm text-gray-600">
                                Horarios y sedes:
                            </p>
                            <ul class="list-disc list-inside text-sm text-gray-600">
                                <li>De lunes a viernes 7:30 am - 7:00 pm</li>
                                <li>Sábados y domingos de 9:00 am a 4:00 pm</li>
                                <li>Sede: Colina Campestre</li>
                                <li>Sede: Castilla</li>
                                <li>Sede: Engativá</li>
                                <li>Bogotá, Colombia</li>
                            </ul>

                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <!-- Panel: ¿Qué tipos de productos puedo comprar? -->
                <p-accordion-panel value="8">
                    <p-accordion-header>
                        <p style="text-transform: uppercase; color: #2240b1; font-weight: 800;">
                            ¿Qué tipos de productos puedo comprar?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="mb-2 font-medium text-gray-700">Puedes comprar:</p>
                            <ul class="list-disc list-inside space-y-1 text-sm text-gray-600">
                                <li>Celulares, televisores, equipos de sonido y electrodomésticos.</li>
                                <li>Tecnología en general.</li>
                                <li>Productos en almacenes de cadena como Alkosto, Jumbo y Éxito.</li>
                            </ul>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <!-- Panel: ¿Cómo me registro en Inverteccupos? -->
                <p-accordion-panel value="9">
                    <p-accordion-header>
                        <p style="text-transform: uppercase; color: #2240b1; font-weight: 800;">
                            ¿Cómo me registro en Inverteccupos?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="mb-2 font-medium text-gray-700">Pasos para registrarte:</p>
                            <ul class="list-disc list-inside space-y-1 text-sm text-gray-600">
                                <li>Ingresa a <strong>www.inverteccupos.co</strong>.</li>
                                <li>Sigue los pasos del formulario de registro.</li>
                                <li>Completa tus datos personales y envía la solicitud.</li>
                            </ul>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="10">
                    <p-accordion-header>
                        <p style="text-transform: uppercase; color: #2240b1; font-weight: 800;">
                            ¿Cómo obtener un cupo disponible?
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="mb-2 font-medium text-gray-700">Pasos para obtener un cupo disponible ingresar a las siguientes plataformas:</p>
                            <ul class="list-disc list-inside space-y-1 text-sm text-gray-600">
                                <li>Ingresa a <strong><a target="_blank" href="https://co.addi.com/">https://co.addi.com/</a></strong>.</li>
                                <li>Ingresa a <strong><a target="_blank" href="https://www.sistecredito.com/">https://www.sistecredito.com/</a></strong>.</li>
                                <li>Completa tus datos personales y envía la solicitud <span>SOLO APLICA PARA NO REPORTADOS</span> .</li>
                            </ul>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="11">
                    <p-accordion-header>
                        <p style="text-transform: uppercase; color: #2240b1; font-weight: 800;">
                            SISTEMA DE REFERIDOS
                        </p>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div class="text-gray-600 p-3 md:p-4 text-sm md:text-base">
                            <p class="mb-2 font-medium text-gray-700">
                                tenemos un sistema de referidos. Familiares. Compañeros de trabajo. Amigos que tengan cupos disponibles ADDI O SISTECREDITO, VANTI Y SU+ PAY con un bono regalo especial $$
                            </p>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

            </p-accordion>
        </div>
    </div>
</section>


<app-footer></app-footer>